
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>AccessDenied</h1>

<h2 class="alert alert-danger">You have
<strong>not</strong> access to this page.
</h2>