@model Reservation
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string today = DateTime.Now.ToString("yyyy-MM-dd");
}
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />

<form asp-action="Create" asp-controller="Reservation" method="post">
    <div class="form-group">
        <label asp-for="RoomId" class="control-label"></label>
        <select asp-for="RoomId" asp-items="ViewBag.Rooms" class="form-control"></select>
        <span asp-validation-for="RoomId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AppUserId" class="control-label"></label>
        <select asp-for="AppUserId" asp-items="ViewBag.Users" class="form-control"></select>
        <span asp-validation-for="AppUserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CheckIn" class="control-label"></label>
        <input asp-for="CheckIn" type="date" class="form-control" min="@today" id="checkInDate" onchange="updateCheckOutMinDate()" />
        <span asp-validation-for="CheckIn" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CheckOut" class="control-label"></label>
        <input asp-for="CheckOut" type="date" class="form-control" id="checkOutDate" min="@today" />
        <span asp-validation-for="CheckOut" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create A Reservation</button>
</form>


<script>
    function updateCheckOutMinDate() {
        var checkInDate = document.getElementById('checkInDate').value;
        var checkOutDateField = document.getElementById('checkOutDate');
        if (checkInDate) {
            var minCheckOutDate = new Date(checkInDate);
            minCheckOutDate.setDate(minCheckOutDate.getDate() + 1);
            checkOutDateField.min = minCheckOutDate.toISOString().split('T')[0];
        }
    }
</script>

